<?xml version="1.0" encoding="UTF-8"?>
<configuration status="info" monitorInterval="30">
    <Properties>
        <Property name="pattern">log4j2:[%-5p]:%d{YYYY-MM-dd HH:mm:ss} [%t]%c{1}:%L - %msg%n</Property>
<!--        <Property name="log_home">E:\Example\Java\log\log4j2/logs</Property>-->
<!--        <Property name="fileName">E:\Example\Java\log\log_demo\sign-log4j2-demo\logs\fkp.log</Property>-->
        <Property name="fileName">/opt/logs/fkp.log</Property>
    </Properties>
    <appenders>
        <!--console：控制台输出的配置-->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}"/>
        </Console>
<!--        <File name="file" fileName="${log_home}/myfile.log">-->
<!--            <PatternLayout>-->
<!--                <Pattern>log4j2:[%-5p]:%d{YYYY-MM-dd HH:mm:ss} [%t]%c{1}: - %msg%n</Pattern>-->
<!--            </PatternLayout>-->
<!--        </File>-->
        <!--按照一定规则拆分的日志文件的 appender-->
        <RollingFile name="rollingFile" fileName="${fileName}"
                     filePattern="${fileName}-%d{yyyy-MM-dd-HH-mm}-%i">
            <!--日志级别过滤器-->
<!--            <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY" />-->
            <!--日志消息格式-->
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] %l %c{36} - %msg%n" />
            <Policies>
                <!--在系统启动时，出发拆分规则，生产一个新的日志文件-->
                <OnStartupTriggeringPolicy />
                <!--按照文件大小拆分，10MB -->
                <SizeBasedTriggeringPolicy size="1 MB" />
                <!--按照时间节点拆分，规则根据filePattern定义的-->
                <TimeBasedTriggeringPolicy />
            </Policies>
            <!--在同一个目录下，文件的个数限定为 30 个，超过进行覆盖-->
            <SignRolloverStrategy max="5">
                <SignAction fileName="${fileName}"/>
            </SignRolloverStrategy>
        </RollingFile>
    </appenders>
    <loggers>
        <logger name="org.springframework" level="INFO"/>
        <root level="info">
            <appender-ref ref="Console"/>
            <appender-ref ref="rollingFile"/>
        </root>
<!--        配置异步logger，
        name指定使用异步日志的包，
        level为日志的输出级别，
        includeLocation关闭行号输出，若开启则会大大降低性能，
        additivity配置为false不继承rootlogger,即不会在root指定的appender中输出，默认为true-->
<!--        <asyncLogger name="com.fkp.log.log4j2" level="INFO" includeLocation="false" additivity="true">-->
<!--&lt;!&ndash;            <appender-ref ref="file"/>&ndash;&gt;-->
<!--            -->
<!--        </asyncLogger>-->
    </loggers>
</configuration>
