<?xml version="1.0" encoding="UTF-8"?>
<!--配置scan为true时开启自动扫描，scanPeriod配置的时间重新加载配置文件-->
<configuration scan="true" scanPeriod="3 seconds" debug="false">
    <property name="logPattern" value="logback:[ %-5level] [%date{yyyy-MM-ddHH:mm:ss.SSS}] %logger{96} [%line] [%thread]- %msg%n"/>
    <!-- 控制台的标准输出 -->
    <appender name="message_appender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>${logPattern}</pattern>
        </encoder>
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
<!--        使用自定义的layout-->
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
<!--            指定自己的layout-->
            <layout class="com.fkp.log.logback.layout.MySampleLayout" />
        </encoder>
    </appender>
    <logger name="message" level="INFO">
        <appender-ref ref="message_appender"/>
    </logger>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
